<% if (cities.length > 0) { %>
<h1>Here are a few FAVE cities</h1>
<div>
    <h5><%= city.name %>, <%= city.state %></h5>
    <p style="font-style:italic;">Latitude: <%= city.lat %>, Longitude: <%= city.long %></p>
    <hr>
</div>

    <% } else { %>
        <h1>No FAVEs? Search for some fave cities <a href="/">HERE!</a></h1>
<%} %>